.dashboard-page {
  .app-content {
    display: flex;
    height: calc(100vh - 94px);
    .main-content {
      flex-grow: 1;
      overflow-y: scroll;
      position: relative;
      background-color: #e2e2e2;
    }
  }
}
