.navbar {
  .toolbar {
    justify-content: space-between;
  }
  .home-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo-img {
    max-width: 40px;
  }
  .logo-text {
    flex-grow: 1;
  }
}