.admin-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.dashboard-page-admin {
  justify-content: space-around;
  display: flex;
  padding: 30px;
  flex: 1;
  .single-card {
    padding: 15px;
    .card-title {
      font-size: 14px;
      font-family: 'Montserrat';
      font-weight: 500;
      color: #000;
    }
  }
  
}